<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.hoangminh.clinicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FamCareTheme">
        <activity
            android:name=".SelectUser"
            android:screenOrientation="portrait"
            android:theme="@style/FamCareTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PassCode"
            android:screenOrientation="portrait"
            android:theme="@style/FamCareDialog" />
        <activity
            android:name=".PatientMain"
            android:parentActivityName=".SelectUser"
            android:screenOrientation="portrait"
            android:theme="@style/FamCareTheme" />
        <activity
            android:name=".UpdateVitals"
            android:screenOrientation="portrait"
            android:parentActivityName=".PatientMain"
            android:theme="@style/FamCareTheme" />
        <activity
            android:name=".Review"
            android:screenOrientation="portrait"
            android:theme="@style/FamCareDialog" />
        <activity
            android:name=".SendMessages"
            android:parentActivityName=".PatientMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WriteNote"
            android:parentActivityName=".PatientMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Warning"
            android:screenOrientation="portrait"
            android:theme="@style/FamCareDialog" />
        <activity
            android:name=".SetGoal"
            android:screenOrientation="portrait"
            android:theme="@style/FamCareDialog" />
        <activity
            android:name=".ConfirmRemove"
            android:screenOrientation="portrait"
            android:theme="@style/FamCareDialog" />
        <activity
            android:name=".Settings"
            android:parentActivityName=".PatientMain"
            android:screenOrientation="portrait"
            android:theme="@style/FamCareTheme" />
        <activity
            android:name=".ConfirmSetting"
            android:screenOrientation="portrait"
            android:theme="@style/FamCareDialog" />
        <activity
            android:name=".EmptyWarning"
            android:screenOrientation="portrait"
            android:theme="@style/FamCareDialog"/>
    </application>

</manifest>